body{
margin:0;
font-family:Poppins;
background:#0a0a0a;
color:white;
}

:root{
--gold:#d4af37;
--gold-light:#f5d76e;
}

.background-animation{
position:fixed;
width:100%;
height:100%;
background-image:
radial-gradient(var(--gold) 1px, transparent 1px);
background-size:40px 40px;
animation:moveBg 10s linear infinite;
opacity:0.2;
z-index:-1;
}

@keyframes moveBg{
0%{background-position:0 0;}
100%{background-position:200px 200px;}
}

.header{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:black;
border-bottom:1px solid var(--gold);
}

.logo-area{
display:flex;
align-items:center;
gap:10px;
}

.logo-img{
width:50px;
height:50px;
border-radius:50%;
}

.logo-text{
font-size:26px;
color:var(--gold);
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:60px;
color:var(--gold);
}

.btn{
background:var(--gold);
padding:12px 30px;
color:black;
text-decoration:none;
display:inline-block;
margin-top:15px;
}

.section{
padding:60px;
}

.section-title{
text-align:center;
color:var(--gold);
font-size:40px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.product{
background:#111;
padding:20px;
}

.product img{
width:100%;
}

.footer{
text-align:center;
padding:20px;
background:black;
margin-top:40px;
}

.whatsapp-btn{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
padding:15px;
color:white;
text-decoration:none;
}
.admin-container{

max-width:400px;
margin:auto;
padding:20px;

}

.admin-container input,
.admin-container textarea{

width:100%;
margin:10px 0;
padding:10px;

}

.admin-container button{

background:#d4af37;
padding:10px;
width:100%;
border:none;

}

